name: Publish new version
on:
  push:
    tags:
      - 'v*'
jobs:
  Publish:
    env:
      VERSION: ${{ github.event.inputs.version }}
      DESCRIPTION: ProcessTuner Command Line Interface
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/dotnet/sdk:5.0-alpine
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Tests
        run: pwsh -File ./Run-Tests.ps1
      - name: Versioning
        run: >
          pwsh -Command "New-ModuleManifest 
          -Path .\ProcessTunerCLI.psd1 
          -ModuleVersion '${GITHUB_REF#refs/tags/v}' 
          -Author '${GITHUB_WORKSPACE}' 
          -Description '${DESCRIPTION}' 
          -FunctionsToExport '*' 
          -RootModule 'ProcessTunerCLI.psm1'"
      - name: Publish
        run: pwsh -Command 'Publish-Module -Path . -NuGetApiKey ${{ secrets.NuGetApiKey }}'