name: Publish new version
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version (1.0.0)'
        required: true
  push:
    tags:
      - 'v*'
jobs:
  Publish:
    env:
      VERSION: ${{ github.event.inputs.version }}
      DESCRIPTION: ProcessTuner Command Line Interface
    runs-on: ubuntu-latest
    container: mcr.microsoft.com/dotnet/sdk:5.0-alpine
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Tests
        run: pwsh -File ./Run-Tests.ps1
      - name: Versioning
        run: >
          pwsh -Command "New-ModuleManifest 
          -Path .\ProcessTunerCLI.psd1 
          -ModuleVersion '${VERSION}' 
          -Author '${GITHUB_WORKSPACE}' 
          -Description '${DESCRIPTION}'"
      - name: Publish
        run: pwsh -Command 'Publish-Module -Path . -NuGetApiKey ${{ secrets.NuGetApiKey }}'